﻿@using Entidades
@model List<Entidades.Unidad>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarUnidad</title>
</head>
<body>
    <div>
        <p>Unidades</p>

        <table>
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Nombre</td>
                <td>Mail</td>
                <td>Eliminar</td>
            </tr>
            @foreach (Entidades.Unidad unidad in Model)
            {
                <tr>
                    <td>@unidad.Nombre</td>
                    <td>@unidad.ApellidoPropietario</td>
                    <td>@unidad.NombrePropietario</td>
                    <td>@unidad.EmailPropietario</td>
                    <td>Eliminar</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
