﻿@using Entidades
@model List<Entidades.Gasto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListarGasto</title>
</head>
<body>
    <div>
        <p>Gasto</p>

        <table>
            <tr>
                <td>Año</td>
                <td>Mes</td>
                <td>Nombre</td>
                <td>TipoGasto</td>
                <td>Fecha</td>
                <td>Monto($)</td>
                <td>Comprobante</td>
                <td>Eliminar</td>
            </tr>
            @foreach (Entidades.Gasto gasto in Model)
            {
                <tr>
                    <td>@gasto.AnioExpensa</td>
                    <td>@gasto.MesExpensa</td>
                    <td>@gasto.Nombre</td>
                    <td>@gasto.IdTipoGasto</td>
                    <td>@gasto.FechaGasto</td>
                    <td>@gasto.Monto</td>
                    <td>@gasto.ArchivoComprobante</td>
                    <td>Eliminar</td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
